@charset "UTF-8";
/* CSS Document */
body {
	background:#e4e8eb;   font-family: 'Roboto Condensed', Arial, sans-serif;
}
ul, li, outer, a, button { padding:0; margin:0; border:none; outline:none !important; text-decoration:none;}
input, button, select, textarea { font-family: 'Roboto Condensed', Arial, sans-serif; }
a {color: #8b58a1; text-decoration:none}
a:focus{ color: #8b58a1; text-decoration:none}
	

/*---------------------Main Page Area------------------------------- */
#wraper{ height:100%; border-top: 5px solid #4f2660;}
.page-content{margin-left: 50px;}

.header{height: 60px; background: #fff; border-bottom: 1px solid #e4e8eb; box-shadow: inset 0 3px 6px rgb(206, 206, 206);}
.logo{padding: 11px 15px 11px 22px;}


h4, .h4 {
    font-size: 18px;
}


/* Label */

.label-default {
    background-color: #e4e8eb;
    color: #512862;
}

/* Alerts */
.close {
  text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=70);
    opacity: .7;}
	

/*********** Login page **********/

#bg {
  position: fixed; 
  bottom: 0; 
  left:0; 
  width: 200%; 
  height: 50%;
	background-repeat: repeat;
	background-color: #1d1d25;

}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.pagewarp{
	position: relative;
    z-index: 2;
    width: 340px;

    margin: 10% auto auto auto;


}


.bott-logo{
	position: relative;
    width: 360px;
    margin:40px auto auto auto;
}

#login-titile{ text-align:center;     margin-bottom: 15px;}
.form-cont{
	width: 260px;
    margin: 0 auto;
	font-size:14px;
     background:#fff; 
	padding:25px 30px 15px;
	border-radius: 3px;
}

.user{ width: 100%;
    margin-bottom: 15px;
    padding: 10px 0;
    text-align: center;
    background: none;
    border-bottom: 1px solid #ccc;
    border: 0;
    border-bottom: 1px solid #ccc; font-size: 14px;
    color: #1b1e21;
    font-weight: normal;
}

.user::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.user::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}


.user:focus{border-bottom: 1px solid #CDDC39; outline:none; color:#333;}

.login-btn{
	background: #29b564;
    width: 100%;
    font-size: 14px;
	color:#fff;
	text-transform: uppercase;
    margin: 10px 0;
	padding:9px 0;
}

.login-btn:hover{
	background: #12753c;
}

.reset-pass{font-size: 12px;text-align: center;}
.reset-pass a{font-size:13px;}
.reset-pass a:hover{ opacity:0.6}
.bott-logo{    text-align: center;}

/* Registration */
.main-container {
	margin:20px 5px;
	padding:20px 22px;
	background:#fff;
}

.button-group {
	margin-top:20px;
}

.button-group .btn {
	min-width:100px;
}

select.form-control:not([size]):not([multiple]) {
	height:auto;
}

.form-top {
	padding-bottom:0;
}

.form-top h5 {margin-bottom:12px; margin-top:0;}
.alert-warning {
	padding:5px 15px;
}
