<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			 <a class="navbar-brand" href="#" > <h4 class="navbar-text navbar-right">RECKON Dashboard</h4>
            <img src="assets/img/comp/logo.png" width="15%" height="10%" class="img-responsive" />
			
        </a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
			   <li class="dropdown">
                  <a href="dashboard" class="dropdown-toggle" data-toggle="dropdown" ng-click="viewEvent()">
                       <i class="material-icons">event_seat</i>{{eventCount}}
                      </a>
                   </li>
			
			   <li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"> 
				  <i class="material-icons">add_circle</i>
				</a>
				<ul class="dropdown-menu">
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#entitymodal" ng-click="entityConfig()">Entity Setup</a>
				</p>
				
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#thresholdmodal" ng-click="thresholdConfigure()">Threshold</a>
				</p>
				
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#editservicestatus" ng-click="serviceConfigure()">Add Service</a>
				</p>
				
				 <p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#linkService" ng-click="linkServices()">Link Services</a>
				</p>
				
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#linkreckon" ng-click="linkRNotiy()">Link RNotify</a>
				</p>
	         
				
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#editadv" ng-click="advConfigure()">Video Advertisement</a>
				</p>
				<p class="text-left">
				<a href="" class="btn btn-primary btn-block btn-sm" data-toggle="modal"
									data-target="#editadvText" ng-click="advConfigure()">Text Advertisement</a>
				</p>
				</ul>
			</li>
			
				<li><a href="" class="dropdown-toggle" data-toggle="dropdown" ng-init="displayUserProfile()">
						<i class="material-icons">person</i>
				</a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="navbar-login">
								<div class="row">
									<div class="col-lg-4">
										<p class="text-center">
											<span> <i class="material-icons">person</i></span>
										</p>
									</div>
									<div class="col-lg-8">
                                        <p class="text-left"><strong>{{userdetail.firstname}} {{userdetail.lastname}}</strong></p>
                                        <p class="text-left small">{{userdetail.email}}</p>
                                        <p class="text-left">
                                            <a href="" ng-click="goToProfile()" class="btn btn-primary btn-block btn-sm">View Profile</a>
                                        </p>
                                    </div>
									
								</div>
							</div>
						</li>
						<li class="divider"></li>
						<li>
							<div class="navbar-login navbar-login-session">
								<div class="row">
									<div class="col-lg-12">
										<p>
											<a href="#" class="btn btn-danger btn-block">Logout</a>
										</p>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>


<div class="jumbotron">
	<div class="container-fluid">
	
		<div class="col-lg-8 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple"  ng-init="getLinkedRNotifyList()">
					<h4 class="title">R-Notify Status</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Linked Id</th>
							<th>Linked For</th>
							<th>RNotiy Id</th>
							<th>Status</th>
						</thead>
						<tbody>
							<tr ng-repeat="linkedRNotify in linkedRNotifyList">
								<td>{{linkedRNotify.linkedId}}</td>
								<td>{{linkedRNotify.linkedType}}</td>
								<td>{{linkedRNotify.notifiers}}</td>
								<td>{{linkedRNotify.status}}</td>
								<td><a href="" data-toggle="modal"
									data-target="#linkreckon" ng-click="editLinkedRNotify(linkedRNotify)"><i class="material-icons">mode_edit</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
			<div class="col-lg-4 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getEntity()">
					<h4 class="title">Entity Details</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Entity Name</th>
							<th>Attribute</th>
						</thead>
						<tbody>
							<tr ng-repeat="attr in entityList">
								<td>{{attr.name}}</td>
								<td>{{attr.attrName}}</td>
								<td><a href="" data-toggle="modal"
									data-target="#entitymodal" ng-click="eachEntityDetails(attr)"><i class="material-icons">mode_edit</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
	  <div class="col-lg-6 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getServiceConfigs()">
					<h4 class="title">Services</h4>

				</div>
				<div class="col-sm-4 col-md-4" ng-repeat="sc in serviceConfigList">
				 <div class="card">
                                <div class="card-body text-center">
                                    <a data-toggle="tooltip" title="{{sc.serviceName}}"><img class="img-fluid" src="{{sc.iconURL}}" alt="card image" width="30px"></a>
                                    <h4 class="card-title">{{sc.serviceName}}</h4>
                                </div>
                            </div>
				</div>
			</div>
		</div>
		
	   <div class="col-lg-6 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getAllLinkedServices()">
					<h4 class="title">Link Services</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Service Name</th>
							<th>Notiy Service Code</th>
							<th>R-Notiy ID</th>
						</thead>
						<tbody>
							<tr ng-repeat="lservice in linkedServiceList">
								<td>{{lservice.serviceName}}</td>
								<td>{{lservice.serviceCode}}</td>
								<td>{{lservice.reckonID}}</td>
								<td><a href="" data-toggle="modal"
									data-target="#linkService" ng-click="editLinkedService(lservice)"><i class="material-icons">mode_edit</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

		</div>	
		
		
		<div class="col-lg-6 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getThresholds()">
					<h4 class="title">Threshold Configuration</h4>
				</div>
				<div class="card-content table-responsive">
					<table class="table table-hover">
						<thead class="text-warning">
							<th>Threshold Name</th>
							<th>Threshold(Seconds)</th>
							<th>Color</th>
						</thead>
						<tbody>
							<tr ng-repeat="selectedThreshold in thresholdlist">
								<td>{{selectedThreshold.name}}</td>
								<td>{{selectedThreshold.interval}}</td>
								<td><input type="color" value="{{selectedThreshold.colorCode}}" class="form-control"></input></td>
								<td><a href="" data-toggle="modal"
									data-target="#thresholdmodal" ng-click="eachThresholdDetails(selectedThreshold)"><i class="material-icons">mode_edit</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>	
			
		<div class="col-lg-11 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getAllAdv()">
					<h4 class="title">Video Advertisement Setup</h4>

				</div>
				<div class="card-content">
				  <div class="col-md-3" ng-repeat="adv in advlist">
				     <div class="card">
				                <video  autoplay class="img-responsive">
 									 <source ng-src={{adv.filepath}} type="video/mp4" />
								   </video>
								 <p>{{adv.filename}}</p>
								 <p>Sequence : {{adv.sequence}}</p>
								 <a href="" data-toggle="modal" data-target="#editadv" ng-click="eachAdv(adv)"><i
										class="material-icons">mode_edit</i></a>
							</div>
                         </div>
				</div>
			</div>
		</div>
		
		
			<div class="col-lg-11 col-md-12">
			<div class="card card-nav-tabs">
				<div class="card-header" data-background-color="purple" ng-init="getAllAdv()">
					<h4 class="title">Text Advertisement Setup</h4>

				</div>
				<div class="card-content">
				  <div class="col-md-3" ng-repeat="adv in advTextlist">
				     <div class="card">
                                 <span>{{adv.advText}}</span>
								 <p>Sequence : {{adv.sequence}}</p>
								 <a href="" data-toggle="modal" data-target="#editadvText" ng-click="eachAdvForText(adv)"><i
										class="material-icons">mode_edit</i></a>
							</div>
                         </div>
				</div>
			</div>
		</div>

	</div>
</div>


<!-- Modal -->
<div id="linkService" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Link Services</h4>
					</div>
				</div>
			</div>
			
			<div class="modal-body">
				<div class="card-content table-responsive" >
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">Service Name</label>
							 <input type="text"  ng-model="service.serviceName" class="form-control" list="services">
							 <datalist id="services">
							 <option ng-repeat="service in serviceConfigList" value="{{service.serviceName}}">{{service.serviceName}}</option>
							</datalist>
						
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">Service Code</label> 
							<input type="text" ng-model="service.serviceCode"  class="form-control">
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">R-Notify</label> 
							<input type="text" ng-model="service.reckonID"  class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveLinkService()">Save</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteLinkService()">Delete</button>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div id="editadv" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Setup Advertisement</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-7">
						<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
   						 <input type="file" name="file" /><br/><br/>
						</form>
					</div>
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">File Name</label> 
							<input type="text"	ng-model="adv.filename"  class="form-control" disabled>
						</div>
					</div>
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">Playing Sequence</label>
							 <input	type="text"  ng-model="adv.sequence" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveAdv()">Save</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteAdv()">Delete</button>
			</div>
		</div>
	</div>
</div>



<!-- Modal -->
<div id="editadvText" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Setup Text Advertisement</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-7">
						   <div class="form-group label-floating">
                                  <label class="control-label">Text Advertisement</label>
                                  <textarea type="text" class="form-control" ng-model="activationDetails.userDetails.address"></textarea>
                           </div>
					</div>
					<div class="col-md-7">
						<div class="form-group label-floating">
							<label class="control-label">Playing Sequence</label>
							 <input	type="text"  ng-model="adv.sequence" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveTextAdv()">Save</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteTextAdv()">Delete</button>
			</div>
		</div>
	</div>
</div>




<!-- Modal -->
<div id="entitymodal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Entity Setup</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
		<div class="row">
					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Entity Name</label> 
							<input type="text" ng-model="entity.name" class="form-control"  list="entityList" ng-change="entityChange(entity.name)">
							 <datalist id="entityList">
							 <option ng-repeat="ent in entityDefaultList" value="{{ent.name}}">{{ent.name}}</option>
							</datalist>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Attribute Name</label> 
							<input type="text" ng-model="entity.attrName" class="form-control" list="entityattrList">
							 <datalist id="entityattrList">
							 <option ng-repeat="entAttr in entityAttributeDefaultList" value="{{entAttr.name}}">{{entAttr.name}}</option>
							</datalist>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveEntityDetails()">Save</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteEntityDetails()">Delete</button>
			</div>
		</div>
	</div>
</div>




<!-- Modal -->
<div id="editservicestatus" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title"> Services </h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
			
			  <md-radio-group ng-model="service">
       <md-radio-button ng-repeat="service in serviceDefaultList"
                       ng-value="service"
                       aria-label="{{service.serviceName}}">
             <a data-toggle="tooltip" title="{{service.serviceName}}"> <img src="{{service.iconURL}}" class="md-card-image" alt="image caption" width="45px"></a>
      </md-radio-button>
    </md-radio-group>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="saveServiceConfig(service)">Save</button>
				<button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="deleteServiceConfig(service)">Delete</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="linkreckon" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">R-Notify Configuration</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Linked ID</label> 
							<input type="text" ng-model=linkedRNotify.linkedId class="form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Linked For</label> 
							<input type="text" ng-model="linkedRNotify.linkedType" class="form-control" list="entityAttrs">
						  <datalist id="entityAttrs">
							   <option ng-repeat="entiy in entityList" value="{{entiy.attrName}}">{{entiy.attrName}}</option>
							</datalist>
						
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating">
							<label class="control-label">RNotiy Id</label>
							 <input type="text"	ng-model="linkedRNotify.notifiers" class="form-control" list="allreckon">
							  <datalist id="allreckon">
							   <option ng-repeat="rid in notLinkedRIds" value="{{rid}}">{{rid}}</option>
							</datalist>
						</div>
					</div>
				
					<div class="col-md-4">
						<div class="form-group label-floating">
							<label class="control-label">Status</label> 
							<input type="text"	ng-model="linkedRNotify.status" class="form-control" disabled>
						</div>
					</div>
				
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="saveLinkedRNotify()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-warning" ng-click="deleteLinkedRNotify()" data-dismiss="modal">Delete</button>
			</div>
		</div>
	</div>
</div>



<!-- Threshold -->
<div id="thresholdmodal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<div class="card card-nav-tabs">
					<div class="card-header" data-background-color="purple">
						<h4 class="title">Threshold Configuration</h4>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="row">

					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Name</label> 
							<input type="text" ng-model="threshold.name" class="form-control" list="thresholdList" ng-change="thresholdChange(threshold.name)">
							 <datalist id="thresholdList">
							 <option ng-repeat="thre in thresholdDefaultList" value="{{thre.name}}">{{thre.name}}</option>
							</datalist>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="form-group label-floating">
							<label class="control-label">Seconds</label> 
							<input type="number" ng-model="threshold.interval" class="form-control">
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating">
							<label class="control-label">Color</label>
							 <input type="color" ng-model="threshold.colorCode" class="form-control" disable>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" ng-click="updateThresholdDetails()" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-warning" ng-click="deleteThresh()" data-dismiss="modal">Delete</button>
			</div>
		</div>
	</div>
</div>