
<div class="jumbotron">
			<div class="col-md-10" ng-init="validateProduct()">
				<div class="card">
					<div class="card-content">
                             <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">Product Activation Details</h4>
                                </div>
                                <div class="card-content">
                                 <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Product Name</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.productName">
                                                </div>
                                  </div>
                                   <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Version</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.productVersion">
                                                </div>
                                  </div>
                                       <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Date</label>
                                                    <input type="date" class="form-control" ng-model="activationDetails.activateDate">
                                                </div>
                                  </div>
                                </div>
                            </div>
                             <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">User  Details</h4>
                                </div>
                                <div class="card-content">
                                 <div class="col-md-3">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">First Name</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.firstname">
                                                </div>
                                       </div> 
                                    <div class="col-md-3">              
                                                 <div class="form-group label-floating">
                                                    <label class="control-label">Last Name</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.lastname">
                                                </div>
                                  </div>
                                   <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Mobile Number</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.mobileno">
                                                </div>
                                  </div>
                                       <div class="col-md-4">
                                              <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input type="password" class="form-control" ng-model="activationDetails.userDetails.password">
                                                </div>
                                  </div>
                                   <div class="col-md-3">
                                     <div class="form-group label-floating">
                                                    <label class="control-label">Address</label>
                                                    <textarea type="text" class="form-control" ng-model="activationDetails.userDetails.address"></textarea>
                                                </div>
                                         </div>   
                                          <div class="col-md-3">     
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Postal Code</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.postalcode">
                                                </div>
                                          </div>
                                            <div class="col-md-3">     
                                                <div class="form-group label-floating">
                                                    <label class="control-label">City</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.city">
                                                </div>
                                           </div>
                                            <div class="col-md-3">     
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Country</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.userDetails.country">
                                                </div>
                                           </div>
                                 
                                </div>
                            </div>
                             <div class="card">
                                <div class="card-header" data-background-color="blue">
                                    <h4 class="title">Company  Details</h4>
                                </div>
                                <div class="card-content">
                                 <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Company Name</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.companyDetails.compname">
                                                </div>
                                  </div>
                                   <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Tag Line</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.companyDetails.tagline">
                                                </div>
                                  </div>
                                       <div class="col-md-4">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">About Company</label>
                                                    <input type="text" class="form-control" ng-model="activationDetails.companyDetails.aboutcomp">
                                                </div>
                                  </div>
                                </div>
                            </div>
					</div>
					 <button type="submit" class="btn btn-primary pull-right" ng-click="activateProduct()">ACTIVATE/RENEW</button>
                     <button type="submit" class="btn btn-primary pull-right" >RESET</button>
                     <div class="clearfix"></div>
				</div>
			</div>
</div>
