<div> 
<article id="defaultload" ng-init="displayProfile()">

<snap-content snap-opt-tap-to-close="false" class=bg-dark>
 <div class=fr>
 <h2> Secure Your Password<small> Easy Way to setup your things</small></h2> 
 </div>
<div class=jumbotron> 
 <div class=container>
  <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Forget Password</h3>
			  <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                <div class="col-md-8 col-lg-8 table-responsive"> 
                  <table class="table ">
                    <tbody>
					 <tr>
                        <td>Your Mobile Number </td>
                        <td><input type="text" id="" ng-model="password.mobilenumber" name="password.mobilenumber" class="form-control" required></td>
					</tr>
                     <tr>
                        <td>Your GPMID Number</td>
                        <td><input type="password" id="" ng-model="password.gpmidno" name="password.gpmidno" class="form-control" required></td>
					</tr>
					 <tr>
                        <td>Your Confirm GPMID Number</td>
                        <td><input type="text" id="" ng-model="password.cgpmidno" name="password.cgpmidno" class="form-control" required></td>
					 </tr>
                      <tr>
                        <td>New Password</td>
                        <td><input type="password" id="" ng-model="password.newPassword" name="password.newPassword" class="form-control" required></td>
					  </tr>
                      <tr>
                        <td>Confirm New Password</td>
                        <td><input type="password" id="" ng-model="password.confirmPassword" name="password.confirmPassword" class="form-control" required></td>
					 </tr>
                    </tbody>
	            </table>   
                 <button type="button"  id="passworChange" class="btn btn-primary pull-right" ng-click="passwordChange()" data-toggle="modal">confirm</button>				
				</div>				
            </div>
          </div>
		</div>
	</div>
</div><!---End of Modal Export details--> 
 </article>
 </div>