 <div  class="jumbotron">
			 <div class="container-fluid">
                      
		           <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title">Login Details</h4>
                                </div>
                                <div class="card-content">
                                
                                   <form name="loginform" ng-submit="login()">
                                            <div class="col-md-7">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">User Name</label>
                                                    <input type="text" name="username" ng-model="username"  class="form-control" required>
                                                     <div ng-messages="loginform.username.$error" role="alert">
                											<div ng-message="required" class="my-message">Please enter your User name</div>
             										 </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Password</label>
                                                    <input  type="password" name="password" ng-model="password" class="form-control" required>
                                                      <div ng-messages="loginform.password.$error" role="alert">
              											  <div ng-message="required" class="my-message">Please enter your password.</div>
             										 </div>
                                                </div>
                                            </div>
                                   
                                        <button type="submit"   ng-disabled="!loginform.$valid"  class="btn btn-info" data-dismiss="modal">Login</button>
                                   </form>
                                </div>
                              </div>
                            </div> 
                          </div>    
                        </div>             
  </div>                       