<div> 
<article id="defaultload" ng-init="displayProfile()">
<snap-drawer>
 <div class="snap-menu"> <div class="sidebar-header text-center"> 
  <h4>{{profileDisplayName.firstname}} {{profileDisplayName.lastname}}</h4>
 <img ng-src="{{user.image}}" class="sidebar-img img-circle"> 
 </div> 
 <ul class="snap-ul">  
 <li ng-class="{active: $state.includes('overview')}"><a ui-sref=overview>Home</a></li> 
 <li ng-class="{active: $state.includes('perfreports')}" > <a ui-sref=perfreports>Reports </a></li> 
 <li ng-class="{active: $state.includes('meeting_task')}" > <a ui-sref=meeting_task>Meeting & Task</a></li> 
 <li ng-class="{active: $state.includes('rewards')}" > <a ui-sref=rewards>Rewards </a></li> 
 <li ng-class="{active: $state.includes('passwordreset')}" > <a ui-sref=passwordreset>Reset Password</a></li>
 <li ng-class="{active: $state.includes('logout')}" > <a ui-sref=logout>Logout </a></li> 
 </ul> 
 </div> 
 </snap-drawer> 
 <snap-dragger>
 </snap-dragger> 
	 <snap-content snap-opt-tap-to-close="false" class=bg-dark>
 <a snap-toggle=left ng-click="menuOpen = !menuOpen"> 
 <span class="menutoggle"> 
 <i ng-hide="menuOpen" class="fa fa-bars fa-2x"></i> <i ng-show="menuOpen" class="fa fa-times fa-2x"></i> 
 </span> 
 </a> 
 <div class=fr>
 <h2> Setup Your Meetings and Tasks<small> Easy Way to setup your things</small></h2> 
 </div>
 <div class=jumbotron> 
   <a href="" data-target="#setupmeeting" data-toggle="modal" class="btn btn-sucess pull-right" ng-click="setupNetwork()">
    <i class="fa fa-users" aria-hidden="true"></i>
	<span>Setup Meetings & Task</span>
</a>


</div>

<div class=jumbotron> 
 <div class=container>

<div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Meeting and Task Details</h3>
			  <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
            </div>
            <div class="panel-body">
                  <div class="col-md-3 col-lg-3" align="center"> <img alt="User Pic" src="assets/images/dummyuser.jpg" class="img-circle img-responsive"> </div>
                
                <div class="col-md-9 col-lg-9 table-responsive"> 
                  <table class="table table-user-information">
				  <thead>
                <tr>
                    <th>Meeting/Task Level</th>
                    <th>Meeting/Task Start Date</th>
					<th>Meeting/Task End Date</th>
                    <th>Meeting/Task Description</th>
                </tr>
				 </thead>
                    <tbody>
                  <tr>
                    <td>Level-1</td>
                    <td>12-02-2016</td>
					<td>16-02-2016</td>
                    <td>For Emergency</td>
                </tr>
			  <tr>
                    <td>Level-5</td>
                    <td>12-01-2017</td>
					<td>16-01-2017</td>
                    <td>For Distrubution</td>
                </tr>
			  <tr>
                    <td>Level-10</td>
                    <td>12-02-2016</td>
					<td>16-02-2016</td>
                    <td>For Task Excution</td>
                </tr>
                    </tbody>
                  </table>
                </div>
            </div>
</div>

</div>
</div>

<!-- meeting modal-->
	<div id="setupmeeting"  name="setupmeeting" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
 <div class="modal-dialog">
	<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Setup Mettings</h4>	
						</div>
	<div class="modal-body">
	<div class="col-md-6">
        <div class="form-group">
				 <input type="text" class="form-control" placeholder="Meeting  For" list="grouplist">
<datalist id="grouplist">
  <option value="Level-1">
  <option value="Level-2">
  <option value="Level-3">
  <option value="Level-4">
  <option value="Level-5">
  <option value="Level-6">
  <option value="Level-7">
  <option value="Level-8">
  <option value="Level-9">
  <option value="Level-10">
  <option value="All">
</datalist>
				</div>
				<div class="form-group">
				 <input type="datetime-local" class="form-control" placeholder="Meeting  Start Date">
				</div>
				<div class="form-group">
				 <input type="datetime-local" class="form-control" placeholder="Meeting  End Date">
				</div>
				<div class="form-group">
				 <textarea  class="form-control" placeholder="Meeting  Agenda"></textarea>
				</div>
				</div>
		</div>
				<div class="modal-footer">
							<button type="submit" id="usersearch" class="btn btn-default" ng-click="downloadAttendaceReport()"
								data-dismiss="modal"><i class="fa fa-check-circle" aria-hidden="true"></i>Confirm</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i>Close</button>
			   </div>
			</div>
		</div>
	</div>
	
	
	<script>
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});

$(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
	if(!$this.hasClass('panel-collapsed')) {
		$this.parents('.panel').find('.panel-body').slideUp();
		$this.addClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	} else {
		$this.parents('.panel').find('.panel-body').slideDown();
		$this.removeClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	}
})
</script>
		</div><!---End of Modal Export details--> 
 </article>
 </div>